<div class="container">

  <h3>Upload CSV file</h3>
  <form class="form-inline">
    <div class="form-group">
      <input type="file" (change)="fileChangeEvent($event)" class="form-control" placeholder="Upload file..." />
      <button type="button"
        class="btn btn-primary"
        (click)="upload(false)"
        [disabled]="filesToUpload.length === 0" >
        Upload
      </button>
      <button type="button"
        class="btn btn-primary"
        (click)="addMoreData()"
        [disabled]="
          filesToUpload.length === 0 ||
          participants.length === 0 ">
        Add More</button>
      <button type="button"
        class="btn btn-danger"
        (click)="removeData()"
        [disabled]="participants.length === 0">Remove Data</button>

    </div>
    <div class="row" >

      <a class="btn btn-default" *ngFor="let card of ['NameTag','ProgramPass', 'LuggageTag', 'Valuables'] "
        (click)="print(card)">
        Print {{card}}
      </a>
    </div>

  </form>

  <table class="table" *ngIf="participants.length > 0">
      <thead>
        <th>Reg Id </th>
        <th>First Name</th>
        <th>Last Name</th>
        <!-- <th>Lodge Name</th> -->
        <!-- <th>Room</th> -->
        <!-- <th>Lodge Bed Number</th> -->
      </thead>
      <tbody>
        <tr *ngFor="let participant of participants">
          <td>{{participant.BSPID}}</td>
          <td>
           {{participant.FirstName[0] | uppercase}}{{participant.FirstName | slice:1:participant.FirstName.length }}
          </td>
          <td>
             {{participant.LastName[0] | uppercase}}{{participant.LastName | slice:1:participant.LastName.length }}
          </td>
          <!-- <td>
            {{participant.LodgeName}}
          </td>
          <td>
            {{participant.Room}}
          </td>
          <td>
            {{participant.LodgeBedNumber}}
          </td> -->
        </tr>
      </tbody>
  </table>

</div>
