<div class="body" *ngFor="let page of pages">
  <div  *ngFor="let participant of participantsOfPage(page); let i = index">
    <div class="card">
      <div class="content">
        <div class="reg">
          Reg ID: <span>{{participant.BSPID}}</span>
        </div>
        <div class="name" #name >
            <div class="firstName" #firstName>
              <div #master
                [fittext]="true"
                [activateOnResize]="false"
                [container]="firstName"
                [minFontSize]="5.5">
                <span class="firstLetter">{{participant.FirstName[0]}}</span>{{participant.FirstName.slice(1) | uppercase}}
                </div>
            </div>
            <div class="lastName" #lastName>
              <div
                [fittext]="true"
                [activateOnResize]="false"
                [container]="lastName">
                <!--{{master.style.fontSize}}-->
                <span class="firstLetter">{{participant.LastName[0]}}</span>{{participant.LastName.slice(1) | uppercase}}
              </div>
            </div>
            <div class="qrCode" #box *ngIf="participant.category === 'vol'">
              <qr-code [value]="textForQRCode(participant)" [size]="75" [canvas]="true"></qr-code>
          </div>
            <!--<div class="lastName">
            <strong>{{participant.lastName[0] | uppercase }}</strong>{{participant.lastName | slice:1:participant.firstName.length | uppercase}}
            </div>-->
        </div>
      </div>
      <img src="assets/Images/NameTag_{{participant.category}}.jpg" alt="">
    </div>
  </div>
</div>
