@page {
  size: A4
}

hr {
   page-break-before: always;
}

img {
   width : 100%;
   height: 100%;

}

.body {
   width : 100vw;
   margin-left: 0px !important;
   margin-right: 0px !important;
}

.card{
   width: 50vw ;
   /*height: 100%;*/
   float: left;
   border: black solid 0.1vw;

}

.content{
   position: absolute;
   height: 100%;
   width: 50vw;
}
.reg {
   position: absolute;
   top: 3.4vw;
   left: 33.5vw;
   font-size: 2vw;
}

.name {
   position: absolute;
    top: 9vw;
    width: 40vw;
    margin-left: 5vw;
    margin-right: 5vw;
}

.firstName {
   width: 40vw;
   font-size: 9.5vw;
   font-weight: 900;
   line-height: 9.5vw;
   font-family: 'Fira Sans', sans-serif;;
   text-align:center;

}
.firstName > b {
   font-size: 8.6vw;
}
.lastName {
   font-size: 4vw;
   width: 40vw;
   line-height: 4vw;
   font-family: 'Fira Sans', sans-serif;;
   text-align:center;
   white-space: nowrap;
   margin: auto;
}
.lastName > b {
   font-size: 5vw;
   line-height: 5vw;

}

.col-xs-6 {
   width: 50%;
   padding: 0px;
   /*background-image: url(/src/assets/Images/general.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 50%;
    height: 0;
    padding-top: 37.5%;*/
}

body,
html
{
   height: 8.5in;
   width : 5.5in;

}