<div class="body">
  <div  *ngFor="let participant of participants; let i = index">
    <div class="card">
      <div class="content">
        <div class="group" *ngIf="participant.group">
          {{participant.group}}
        </div>
        <div class="reg">
          ID: <span>{{participant.id}}</span>
        </div>
        <div class="stay">
          {{participant.stay}}
        </div>
        <div class="name" #name >
            <div class="firstName" #firstName>
              <div #master
                [fittext]="true"
                [activateOnResize]="false"
                [container]="firstName"
                [minFontSize]="4.4">
                {{participant.firstName | uppercase}}
                </div>
            </div>
            <div class="lastName" #lastName>
              <div
                [fittext]="true"
                [activateOnResize]="false"
                [container]="lastName">
                <!--{{master.style.fontSize}}-->
                {{participant.lastName | uppercase}}
              </div>
            </div>
            <!--<div class="lastName">
            <strong>{{participant.lastName[0] | uppercase }}</strong>{{participant.lastName | slice:1:participant.firstName.length | uppercase}}
            </div>-->
        </div>
      </div>
      <img src="assets/Images/{{participant.seating}}.jpg" alt="">
    </div>
  </div>
</div>
