<div class="bodyHP" *ngFor="let page of pages">
  <div class="cardHP" *ngFor="let participant of participantsOfPage(page)">
    <div class="contentHP">
      <div class="nameHP">
        <div class="firstNameHP" #firstName>
          <span
            [fittext]="true"
            [activateOnResize]="false"
            [container]="firstName">
            {{participant.FirstName[0] | uppercase}}{{participant.FirstName | slice:1:participant.FirstName.length | lowercase}} {{participant.LastName[0] | uppercase}}{{participant.LastName | slice:1:participant.LastName.length |lowercase }}
            </span>
        </div>
      </div>
      <div class="regHP">
       {{participant.BSPID}}
      </div>
      <div class="qrCodeHP" #box *ngIf="participant.ID !== ''">
          <qr-code [value]="textForQRCode(participant)" [size]="150" ></qr-code>
      </div>
    </div>
    <img src="assets/Images/ProgramPass.jpg" alt="">
  </div>
</div>
