<div class="body" *ngFor="let page of pages">
  <div class="card" *ngFor="let participant of participantsOfPage(page)">
    <div class="content">
      <div class="name">
        <div class="firstName" #firstName>
          <span
            [fittext]="true"
            [activateOnResize]="false"
            [container]="firstName"
            >
            {{participant.firstName[0] | uppercase}}{{participant.firstName | slice:1:participant.firstName.length | lowercase}} {{participant.lastName[0] | uppercase}}{{participant.lastName | slice:1:participant.lastName.length |lowercase }}
            </span>
        </div>
      </div>
      <div class="reg">
       {{participant.id}}
      </div>
      <div class="qrCode" #box *ngIf="participant.id !== ''">
          <qr-code [value]="textForQRCode(participant)" [size]="75" [canvas]="true"></qr-code>
      </div>
    </div>
    <img src="assets/Images/{{day}}_{{participant.seating}}.jpg" alt="">
  </div>
</div>
